/* Footer styles */
footer {
  background-color: #0d3050;
  text-align: center;
  padding: 1rem;
  font-family: 'Steelfish Regular', sans-serif;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}